Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassBot.h
MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassBot.h.back
MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassImpl.c
MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassImpl.c.back
MdePkg/Library/SmmPciExpressLib/SmmPciExpressLib.inf
MdePkg/Library/SmmPciExpressLib/SmmPciExpressLib.inf.back
